dist/
node_modules/
reports/
temp/
tsdoc-metadata.json
*.tgz

# stryker temp files
.stryker-tmp

# Final built files
## ESM build
/dot.js
/dot.js.map
/dot.d.ts
/dot.v4.d.ts

## CJS build
/dot.cjs
/dot.cjs.map
/dot.d.cts
/dot.v4.d.cts
