.vscode/*
!.vscode/*.default.*
!.vscode/extensions.json
dist/
node_modules/
docs/
reports/
temp/
tsdoc-metadata.json
*.tgz

# stryker temp files
.stryker-tmp

# Final built files
/dot.js
/dot.js.map
/dot.cjs
/dot.cjs.map
/dot.d.ts
