# Compiled TS
dist/

# TypeScript tests
src/demo
src/**/__tests__
src/**/__mocks__
src/**/__utils__
examples

# Dev files
reports/
docs/
temp/
.changeset/
.eslint*
.github/
.husky
.nvmrc
.vscode/
api-extractor.json
tsconfig.*.json
tsdoc-metadata.json
stryker.conf.json
jest.config.ts
renovate.json

# Previous versions
*.tgz
