# Compiled TS
dist/

# TypeScript tests
src/demo
src/**/__tests__

# Dev files
reports/
docs/
temp/
.github/
.vscode/
.nvmrc
api-extractor.json
tsconfig.*.json
tsdoc-metadata.json
stryker.conf.json
jest.config.ts
renovate.json

# Previous versions
*.tgz
