# TypeScript tests
src/**/__tests__
dist/**/__tests__
src/**/__mocks__
dist/**/__mocks__
src/**/__utils__
dist/**/__utils__
examples

# Dev files
reports/
docs/
temp/
api-extractor.json
tsconfig*.json
tsdoc-metadata.json
stryker.conf.json
*.config.js
renovate.json
turbo.json
.turbo
*.tsbuildinfo

# Previous versions
*.tgz
